{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
<div id='map'></div>
<script>
  // initialize map centered at calgary
  var map = L.map('mapid').setView([51.035, -114.072], 11);
  // add mapbox tile layer streets
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoiem9ld2Fsc2giLCJhIjoiY2trbGl2NzVmMWp2YjMxcTlpcmF3eXZ5YSJ9.UVZBfaC844oYgXMD0KlPDA'
  }).addTo(map);

  // Initialise the FeatureGroup to store editable layers
  var editableLayers = new L.FeatureGroup();
  map.addLayer(editableLayers);

   // Initialise the draw control and pass it the FeatureGroup of editable layers
   var editableLayers = new L.FeatureGroup();
   map.addLayer(editableLayers);

   map.on('draw:created', function(e) {
     var type = e.layerType,
     layer = e.layer;

     if (type === 'polyline') {
       layer.bindPopup('A polyline!');
     }

      editableLayers.addLayer(layer);
    });
    var drawControl = new L.Control.Draw({
      position: 'topleft',
      draw: {
        polyline: {
      	   shapeOptions: {
             color: '#f357a1',
             weight: 10
           }
         },
         // disable toolbar items other than polyline
         polyline: true,
         circle: false,
         polygon: false,
         marker: false,
         rectangle: false,
       },
       edit: {
         featureGroup: editableLayers, //REQUIRED!!
         remove: true
       }
     });
    map.addControl(drawControl);


</script>

{% endblock %}
